# Port for web server
PORT=4867

# Host to bind (0.0.0.0 listens on all network interfaces)
HOST=0.0.0.0

# Local MongoDB or MongoDB Atlas URI (e.g. mongodb+srv://<user>:<password>@cluster0.mongodb.net/cse_digital_hub?retryWrites=true&w=majority)
MONGODB_URI=mongodb://127.0.0.1:27017/cse_digital_hub

# Initial Admin Passcode
DEFAULT_ADMIN_PASSCODE=csedept@2026
